{% extends "base.html"%}

{%block title%} Ajout kvm {%endblock%}


{% block content%}
<h1  class="text-center">Ajout Kvm</h1>
<div id="error_display">
    {% if error0 %}
        <p>Name already Taken, plz chose an unique name for your vm </p>
    {% endif %}
    {% if error1 %}
    <p>An unexpected error encountered plz try again </p>
{% endif %}
</div>
<div id="add_form">
    <form action="" method="post">
        {% csrf_token %}
    <table>
        <tr>
            <td> name : </td>
            <td> <input type="text" name="nameKvm"/></td>
        </tr>
        
        <tr>
            <td> memory :(Kibytes) </td>
            <td><input type="number" name="memory"/></td>
        </tr>
        <tr>
            <td>cpu : </td>
            <td><input type="number" name="cpu" /></td>
        </tr>
        <tr>
            <td>Date of Creation :</td>
            <td><input type="datetime-local" name="datetime" value="{{ datetime_form }}"/></td>
        </tr>
        <tr>
            <td>os : </td>
            <td>
                <select name="os">
                    <option value="ubuntu">ubuntu</option>
                    <option value="fedora">fedora</option>
                    <option value="windows">windows</option>
                </select>
            </td>
        </tr>
        <tr><input type="submit" value="send"/></tr>
    </table>
    
</form>
</div>
{% endblock %}
